<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitterLift®️</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    
</head>

<body>


    <div class="pre-loader">
        <h3>Together </h3>
        <h3>We </h3>
        <h3>Reduce, </h3>
        <h3>Reuse, </h3>
        <h3>Recycle.</h3>
    </div>

    <div class="main">


        <!-- page 1  -->
        <div class="page1" id="page1">
            <div class="cursor1">
                <!-- <h5></h5> -->
            </div>
            <video autoplay loop muted width="100%" height="100%">
                <source src="video/page1.mp4" type="video/mp4">
            </video>
            <div class="page1-content">
                <nav>
                    <div class="nav-brand">
                        <img class="nav-logo" src="images/logo.png" alt="LitterLift Logo">
                        <span class="bg-clip-text text-transparent font-extrabold text-[30px] bg-gradient-to-r from-green-300 to-green-100 font-[rh] text-glow">
                            <a href="https://smartdustbinnnn.netlify.app/">LitterLift</a>
                        </span>
                    </div>
                
                    <div class="nav2">
                        <br>
                        <div class="dropdown">
                            <img id="userIcon" src="images/agent.png" alt="profile">
                            <div id="loginDropdown" class="dropdown-content">
                                <a href="/userLogin" id="userLogin">User Login</a>
                                <a href="/adminLogin" id="adminLogin">Admin Login</a>
                            </div>
                        </div>
                
                        <h3><a data-scroll-to="page1">Home</a></h3>
                        <h3><a data-scroll-to="page2">Services</a></h3>
                        <h3><a data-scroll-to="page3">About</a></h3>
                        <h3><a data-scroll-to="page4">Impact</a></h3>
                    </div>
                </nav>
                
                <h1>
                    <span>L</span>
                    <span>i</span>
                    <span>t</span>
                    <span>t</span>
                    <span>e</span>
                    <span>r</span>
                    <span>L</span>
                    <span>i</span>
                    <span>f</span>
                    <span>t</span>


                </h1>
            </div>
        </div>
   <!-- page 2 -->
   <div class="page2" id="page2">
    <div id="caption1" class="caption">
        <p>LitterLift</p>
        <p>do good</p>

    </div>
    <div class="services">
        <!-- <h1>Services we provide.</h1> -->

        <!-- cards -->
        <div class="container">
            <span id="xyone"><p>Services we provide.</p></span>
            <h3>Empowering You to Make a Difference</h3>
            <!-- <div class="underline" style="width: 100% ; border-radius: 15px;"></div> -->

            <div class="card__container">
               
                <article class="card__article">
                    <img src="https://cdn.prod.website-files.com/62f61daf85742faa76b0f2d0/654211520481533c142ebe84_waste.gif" class="card__img"></img>
                </br> 
            </br>                           

        </br>                           

    </br>                           
</br>  
</br>                          


                    <div class="card__data">
                        <span class="card__description"></span>
                        <h2 class="card__title">Instant Garbage Reporting</h2>
                        <a href="/garbageImage" class="card__button"> Report it in seconds..</a>
                    </div>
                </article>



                <article class="card__article">
                    <!-- <video autoplay loop muted src="video/Recycle2.mp4" class="card__img"></video> -->
                    <img src="https://cdn.dribbble.com/userupload/23878396/file/original-399acdb2e75940f3c035031b3d11b8fb.gif" class="card__img"></img>

                    <!-- <img src="images/recycle.jpg" alt="image" class="card__img"> -->

                    <div class="card__data">
                        <span class="card__description"></span>
                        <h2 class="card__title">Recycling Service</h2>
                        <a href="/recycleImage" class="card__button">Recycling made easy..</a>
                    </div>
                </article>

                <article class="card__article">
                    <img src="https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif" class="card__img"></img>
                 
                    <!-- <img src="images/educationCard.jpg" alt="image" class="card__img"> -->

                    <div class="card__data">
                        
                        <span class="card__description"></span>
                        <h2 class="card__title">Waste Wisdom</h2>
                        <a href="/map" class="card__button">Find Nearest Recycling Center</a>
                    </div>
                </article>
            </div>
        </div>



    </div>


</div>
        <!-- page 3 -->
        <div class="page3" id="page3">


            <div class="main-content">
                <h1 class="about">WITH EVERY TAP, YOU'RE </h1>
                    <h1 class="about">NOT JUST REPORTING</h1>
                    <h1 class="about"> WASTE - <span>YOU'RE TAKING</span></h1>
                    <h1 class="about"><span>AN INITIATIVE</span></h1>
                    <h1 class="about"><span> FOR OUR PLANET'S  </span> </h1>
                    <h1 class="about"><span>FUTURE.</span></h1>
                <!-- <img class ="imgg" src="SmartBin_logo_.svg" alt="logo"> -->
            </div>
            <div class="side-content">
                <br>
                <p class="about2">At <span>LitterLift</span>, we believe in the power of community action to transform our
                    environment. Our innovative platform bridges the gap between citizens and local authorities,
                    creating a collaborative ecosystem for effective waste management.</p>
                <p class="about2">Every report you submit, every recycling pickup you schedule, contributes to a larger
                    movement. We're not just cleaning up streets; we're building a culture of responsibility and
                    environmental stewardship.</p>

                <br> <br>
                <a href="/payment"><button>SUPPORT</button></a>

            </div>




        </div>
        <!-- page 4 -->
        <div class="page4" id="page4">
            <div class="impact">

                <div class="impact1">
                    <h1>OUR IMPACT</h1>
                    <br>
                    <p> <span>LitterLift</span> aims to have a significant positive impact on waste management and
                        recycling efforts in our community and beyond. By leveraging technology to engage citizens and
                        streamline recycling processes, the app contributes to a cleaner environment, cost savings for
                        municipalities, and job creation in the waste management sector.</p>
                    <br>
                    <p>It integrates real-time data on litter and recyclable materials, allowing waste management
                        organizations to optimize their collection routes. This efficiency not only reduces operational
                        costs but also minimizes carbon emissions associated with waste collection vehicles,
                        contributing to cleaner air and a healthier environment.</p>
                </div>
                <div class="impact2">

                    <div class="grid-container">
                        <div class="item1"><img class="img2" src="images/pic4.jpeg" alt="image 1"></div>
                        <div class="item2"><img class="img2" src="images/p2.avif" alt="image 2"></div>
                        <div class="item3"><img class="img2" src="images/p3.avif" alt="image 3"></div>
                    </div>



                </div>


            </div>
        </div>

        <!-- page 5 -->
        <div class="page5" id="page5">

            <section class="testimonials-section">
                <h2>Happy Client Works</h2>
                <div class="underline"></div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Testimonial 1 -->
                        <div class="swiper-slide">
                            <div class="testimonial-container">
                                <i class="fas fa-quote-left quote-icon-top"></i>

                                <p class="testimonial-text">Calvin: You know sometimes when I'm talking, my words can't
                                    keep up with my thoughts... I wonder why we think faster than we speak. Hobbes:
                                    Probably so we can think twice.</p>
                                <i class="fas fa-quote-right quote-icon-bottom"></i>

                                <div class="triangle"></div>
                            </div>
                            <div class="profile-container">
                                <img src="https://img.freepik.com/premium-photo/fun-unique-cartoon-profile-picture-that-represents-your-style-personality_1283595-14000.jpg?w=740"
                                    alt="Parth" class="profile-picture">
                                <div class="profile-info">
                                    <p class="profile-name">Parth Sahay</p>
                                    <p class="profile-title">Developer</p>
                                </div>
                            </div>
                        </div>

                        <!-- Testimonial 2 -->
                        <div class="swiper-slide">
                            <div class="testimonial-container">
                                <i class="fas fa-quote-left quote-icon-top"></i>

                                <p class="testimonial-text">Calvin: You know sometimes when I'm talking, my words can't
                                    keep up with my thoughts... I wonder why we think faster than we speak. Hobbes:
                                    Probably so we can think twice.</p>
                                <i class="fas fa-quote-right quote-icon-bottom"></i>

                                <div class="triangle"></div>
                            </div>
                            <div class="profile-container">
                                <img src="https://img.freepik.com/free-vector/cheerful-young-girl-vector-portrait_1308-163430.jpg?w=740&t=st=1724513404~exp=1724514004~hmac=3286a9e088cc05fdb6739d7578945166370954dc846bb188209b1a4ad4de8b71"
                                    alt="Koshali" class="profile-picture">
                                <div class="profile-info">
                                    <p class="profile-name">Aniket</p>
                                    <p class="profile-title">Developer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 3 -->
                        <div class="swiper-slide">
                            <div class="testimonial-container">
                                <i class="fas fa-quote-left quote-icon-top"></i>

                                <p class="testimonial-text">Calvin: You know sometimes when I'm talking, my words can't
                                    keep up with my thoughts... I wonder why we think faster than we speak. Hobbes:
                                    Probably so we can think twice.</p>
                                <i class="fas fa-quote-right quote-icon-bottom"></i>

                                <div class="triangle"></div>
                            </div>
                            <div class="profile-container">
                                <img src="images/imgA.jpg" alt="Aditya" class="profile-picture">
                                <div class="profile-info">
                                    <p class="profile-name">Samarth</p>
                                    <p class="profile-title">Developer</p>
                                </div>
                            </div>
                        </div>
                        <!-- testimonial 4  -->
                        <div class="swiper-slide">
                            <div class="testimonial-container">
                                <i class="fas fa-quote-left quote-icon-top"></i>

                                <p class="testimonial-text">Calvin: You know sometimes when I'm talking, my words can't
                                    keep up with my thoughts... I wonder why we think faster than we speak. Hobbes:
                                    Probably so we can think twice.</p>
                                <i class="fas fa-quote-right quote-icon-bottom"></i>

                                <div class="triangle"></div>
                            </div>
                            <div class="profile-container">
                                <img src="https://img.freepik.com/free-vector/animated-female-face-with-brown-hair_1308-171070.jpg?t=st=1724513631~exp=1724517231~hmac=44c7c380d7e60425f15bbd899ba2d2a24c736f395f9f346388ccfbb497482128&w=740"
                                    alt="Binod" class="profile-picture">
                                <div class="profile-info">
                                    <p class="profile-name">Aakash</p>
                                    <p class="profile-title">Software Dev</p>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Add more testimonials as needed -->
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </section>


        </div>

        <!-- page 6 -->
        <div class="page6" id="page6">
            <footer>
                <div class="row">
                    <div class="col">
                        <img src="images/logo.png" style="width: 100px; height: 100px;" class="logo">
                        <p style="color: rgb(255, 255, 255); "> <span>LitterLift</span> aims to have a significant
                            positive impact on
                            waste management and
                            recycling efforts in our community and beyond. <br>
                            It integrates real-time data on litter and recyclable materials, allowing waste management
                            organizations to optimize their collection routes. </p>
                    </div>
                    <div class="col">
                        <h3>Contact <div class="underline2"><span></span></div>
                        </h3>
                        <address class="email">
                            <a href="mailto:litterlift.official@gmail.com" style="color: white; text-decoration: none;">
                              litterlift.official@gmail.com
                            </a>
                          </address>
                          
                        <address class="number">
                            <h5>+91 - 9572596797</h5>
                        </address>
                    </div>
                    <div class="col">
                        <h3>Quick Links<div class="underline2"><span></span></div>
                        </h3>
                        <ul>
                            <li><a herf="#">Home</a></li>
                            <li><a herf="#">About</a></li>
                            <li><a herf="#">Services</a></li>
                            <li><a herf="#">Contact</a></li>
                            <li><a herf="#">Help Center</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Follow Us<div class="underline2"><span></span></div>
                        </h3>
                        <div class="social-icons">
                            <i class="fab fa-facebook-f"></i> <!-- Facebook icon -->
                            <i class="fab fa-twitter"></i> <!-- Twitter icon -->
                            <i class="fab fa-instagram"></i> <!-- Instagram icon -->
                            <i class="fab fa-linkedin-in"></i> <!-- LinkedIn icon -->
                        </div>
                        <br><br><br>
                        <h3>Newsletter<div class="underline2"><span></span></div>
                        </h3>
                        <form>
                            <i class="fas fa-envelope"></i>
                            <input type="email-id" placeholder="Enter your email id" required>
                            <button type="submit"><i class="fas fa-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <hr class="footer-line">
                <p class="copyright">Copyright 2025 LitterLift - All rights reserved.
                <ul class="footer-list">
                    <li><a herf="#"><b>Terms and Conditions</b></a></li>
                    <li><a herf="#"><b>Privacy Policy</b></a></li>
                    <li><a herf="#"><b>Cookies Policy</b></a></li>
                </ul>
                </p>
            </footer>

        </div>

    </div>



    <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../javascripts/index.js"></script> -->

    <!-- Move these script tags to the end of the body -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="../javascripts/index.js" defer></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</body>

</html>