<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garbage Upload</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
     <div class="w-full h-screen bg-zinc-900 text-white p-10 flex justify-center items-center">
        <div class="card bg-zinc-800 rounded-md p-8 w-full max-w-md">
            <h3 class="text-blue-400 text-lg">Upload Garbage Image</h3>
            <br>
            <form id="garbageUploadForm" action="/uploadGarbageImg" method="POST" enctype="multipart/form-data">
                <input type="file" id="garbageImage"  accept="image/*" required><br><br>
                <input type="text" id="garbageAddress" name='manualAddress' placeholder="enter address" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-700 outline-none w-full mb-4" required>
                <br><br>
                <button id="selectButton" class="select-image px-5 py-2 rounded-md bg-blue-800 " type="submit">Report to Garbage</button>
            </form>
        </div>
     </div>
     <script src="/javascripts/garbageIndex.js"></script>
</body>
<!-- <body class="bg-zinc-900 text-white">
    <div class="w-full h-screen p-10 flex justify-center items-center">
        <div class="card bg-zinc-800 rounded-md p-8 w-full max-w-md">
            <h3 class="text-blue-400 text-lg mb-4">Upload Garbage Image</h3>
            <form id="garbageUploadForm" action="/uploadGarbageImg" method="POST" enctype="multipart/form-data">
                <input type="file" id="garbageImage" accept="image/*" required class="mb-4">
                <button id="selectButton" class="select-image px-5 py-2 rounded-md bg-blue-800 hover:bg-blue-700" type="submit">Report Garbage</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/garbageIndex.js"></script>
</body> -->
</html>